.idea/
*.iml
*.iws
*.ipr

*.exe
*.exe~
*.dll
*.so
*.dylib

*.test

*.out
*.env

vendor/

go.work

bin/
dist/
build/

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

*.swp
*.swo
*~
.vscode/
*.code-workspace